# Data Science Tools and Ecosystem

In this notebook, we will introduce you to Data Science Tools and Ecosystem.

**Objectives:**

List of popular languages in Data Science

List of the commonly used libraries in Data Science

Arithmetic expressions

#### Some of the popular languages that Data Scientists use are:
     1-Python
     2-R
     3-Julia
     4-C++

#### Some of the commonly used libraries used by Data Scientists include:
     1-Pandas
     2-Matplotlib
     3-Seaborn
     4-Numpy

 | Data Science Tools|
 |-------------------|
 |Jupyter Notebook   |
 |Rstudio            |
 |Google Colab       |
 |VisualStudio Code  |
 |Apache Spark       |

### Below are few examples of evaluating arithmetic expressions in Python

In [1]:
#This is a single arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author

Anouar Tayi